.container {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        h1 {
            width: fit-content;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.3px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 0.8);
        }

        .actions {
            .add_btn {
                height: 28px;
                width: 71px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 4px 12px 4px 8px;
                display: flex;
                align-items: center;
                gap: 12px;
                font-size: 11px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.48px;
                color: #3b3b3b;
                cursor: pointer;
                img {
                    position: initial;
                }

            }
        }
    }

    .content {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        .photo_container {
            position: relative;
            .photo {
                object-fit: cover;
                border-radius: 10px;
                width: 144px;
                height: 108px;
            }
            .delete_btn {
                position: absolute;
                top: 8px;
                right: 8px;
                padding: 6px;
                border-radius: 8px;
                box-shadow: 0px 3px 8px 0px #0000001F;
                background-color: #3B3B3B;
                border: none;
                cursor: pointer;
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

}